.login{
    background-image: 'url(../../images/bnk_img.png)';
    background-repeat: 'no-repeat';
    background-position: 'center';
    background-size: 'cover';
}
.img{
    background-image: 'url(../../images/log__img.jpeg)';
    background-repeat: 'no-repeat';
    background-position: 'center';
    background-size: 'cover';
    height: auto;
    width: auto;
}